@page
@model Web.Pages.Contacts.IndexModel

@{
    ViewData["Title"] = "Index";

    var successMessage = TempData["SuccessMessage"] as string;
}

<h1>Index</h1>

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form class="form-inline">
            <div class="input-group mb-2">
                <input asp-for="SearchTerm" class="form-control" placeholder="search" autofocus />
				<button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].First)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Last)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contacts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>